/* style for card container */
.video-card {
  height: 16rem;
  width: 16rem;
}

/* card thumbnail image */
.thumbnail {
  width: 100%;
  height: 50%;
}
.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* bottom part of the card */
.bottom {
  height: 50%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
}
 .title-wrapper {
  width: 85%;
  margin-left: 0.5rem;
}
 .title {
  color: var(--primary-inverse);
  font-size: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

 .chanel-profile-pic {
  width: 3rem;
  height: 3rem;
}
 .chanel-profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
 .video-card-chanel-name {
  display: block;
  margin-top: 0.5rem;
  color: var(--primary-inverse-90);
  font-size: 0.7rem;
}
 .views {
  color: var(--primary-inverse-90);
  font-size: 0.7rem;
}
 .created-time {
  color: var(--primary-inverse-90);
  font-size: 0.7rem;
}
